node_modules/
dynamics/
pockAudio/
old.js
bun.lock
package-lock.json
*.json
!package.json
!tsconfig.json
!tsconfig.node.json
pnpm-lock.yaml
napcat/

# 非框架文件
plugins/
scripts
indexOld.ts

# vitepress
docs/.vitepress/dist/
docs/.vitepress/cache/